@font-face {
    font-family: "Liberation-Mono-Regular";
    src: url('../fonts/LiberationMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Liberation-Mono-Bold";
    src: url('../fonts/LiberationMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Liberation-Mono-Italic";
    src: url('../fonts/LiberationMono-Italic.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Liberation-Mono-Regular;
    margin: 0;
    background-image: linear-gradient(260deg, #0fc0fc 0%, #2376ae 100%);
    height: 100vh;
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background:rgba(0, 0, 0, 0, .2);
    display: inline-block;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    color: #C0C0C0;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid blue;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    height: 100vh;
}

.flex-title {
    color:white;
    text-align: center;
    font-size: x-large;
}

.flex-footer {
    text-align: center;
    color: white;

}

.flex-nav ul {
    display: flex;
    border: 1px solid white;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.flex-nav li {
    flex: 3;
}

ul {
    list-style: none;
}

.intro {
    padding: 10px;
    color: white;
}

@media all and (max-width:1000px) {

    .flex-nav ul {
	flex-wrap:wrap;
    }

    .flex-nav li {
	flex: 1 1 50%;
    }
}

@media all and (max-width: 500px) {

    .flex-nav li {
	flex-basis:100%;
    }
    
}