@font-face {
    font-family: LiberationSerif-Regular;
    src: /var/www/html/fonts/LiberationSerif-Regular.tff);
}

 * {
     font-family: LiberationSerif-Regular;
     text-decoration: none;
 }

 canvas {
     width: 100%;
 }

 body {
     margin: 2%;
     padding: 0;
 }

 .flex_container {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100vh;
     flex: 1;
 }

 header {
     display: inline-flex;
     justify-content: space-between;
     width: 100%;
     padding: 5px;
 }

 .logo_pic {
     border: solid 1px black;
     width: 170px;
     height: auto;
 }

 h1 {
     align-self: flex-end;
     color:red;
     padding-bottom: 50%;
     text-shadow: 0 1px 0 #ccc,
     0 2px 0 #c9c9c9,
     0 3px 0 #bbb,
     0 4px 0 #b9b9b9,
     0 5px 0 #aaa,
     0 6px 1px rgba(0,0,0,.1),
     0 0 5px rgba(0,0,0,.1),
     0 1px 3px rgba(0,0,0,.3),
     0 3px 5px rgba(0,0,0,.2),
     0 5px 10px rgba(0,0,0,.25),
     0 10px 10px rgba(0,0,0,.2),
     0 20px 20px rgba(0,0,0,.15);
 }

 .main_nav {

     display: inline-flex;
     width: 100%;
     justify-content: space-around;
     display: flex;
     padding: 5px;
     font-size: x-Large;
     background-color:rgba(0, 0, 255, 0.5);
 }

 .main_nav > .nav_but {
     color: white;
     text-decoration: none;
 }

 .nav_divide {
     border: 0;
     height: 2px;
     background-image: -webkit-linear-gradient(left, yellow, blue, yellow);
     background-image: -moz-linear-gradient(left, red, green, blue, yellow);
     background-image: -ms-linear-gradient(left, red, green, blue, yellow);
     background-image: -o-linear-gradient(left, red, green, blue, yellow);
     width: 100%;
 }

 .main_text >h2 {
     display: flex;
     padding: 20px;
     justify-content: flex-end;
 }

 .main_text >h3 {
     display: flex;
     justify-content: center;
 }

 .foot_divide {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
 
 .foot_nav > .nav_but {
     display: inline-flex;
     justify-content:flex-start;
 }

 .foot_nav > .nav_con {
     float: right;
     color: yellow;
     justify-content: flex-end;
 }